


<%= form_tag :tweet=>{action: :create} do %>
  <%= text_area_tag :message, nil, size: "30x3", maxlength: "140" %>
  <%= submit_tag "投稿" %>
<% end %>
<hr/>
<% @tweets.each do |t| %>
  <font size="1"><%= ((Time.current - t.tdate)/60).to_i %>分前</br></font>
  <%= t.message %>
  <%= link_to "表示","/tweets/#{t.id}/show" %>
  <%= link_to "編集","/tweets/#{t.id}/edit" %>
  <%= link_to "削除","/tweets/#{t.id}",method: :delete %>
  <hr/>
<% end %>